<h1>Get Name</h1><br>
<h1>User name is : {{display}}</h1>
<input type="text"
(input)  = "getName($event)"
value="{{name}}"
  placeholder="Enter User name"><br>

<button
(click)  = "displayName($event)"
>Get name</button>

<button
(click)  = "setName($event)"
>Set name</button>

<hr>


<h1>Email is {{email}}</h1>
<input type="email" value="{{email}}" placeholder="Enter email" #emailField>
<button (click) = "getEmail(emailField.value)">Get email</button>
<button (click) = "setEmail()">set Email</button>